:root {
    --white: #FFFFFF;
    --rich-gold: #DAA520;
    --charcoal: #333333;
    --slate-gray: #708090;
    --light-gray: #F5F5F5;
}

body, * {
    font-family: "Poppins", sans-serif;
}

h2 {
    text-align: center;
    color: var(--charcoal, #333333);
    font-size: 64px;
    font-weight: 600;
    line-height: normal;
}

form button {
    cursor: pointer;
}

/* Sección de Inicio */
#home {
    background-image: url(../../resources/img/home/header-background.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    padding: 0 3.47vw;
    justify-content: space-between;
    align-items: center;
    height: 11vh;
    /* background-color: var(--charcoal, #333333); */
    /* border-radius: 0 0 8px 8px; */
}

.logo-barberia {
    height: 9vh;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 32px;
}

nav div {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

#account-btns button {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 6px;
    border: 2px solid var(--rich-gold, #DAA520);
    background-color: transparent;
    cursor: pointer;

    color: var(--white, #FFFFFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.16px;
}

#account-btns button:first-child {
    background-color: var(--rich-gold, #DAA520);
}

#account-btns button:nth-child(3) {
    display: none;
}

.sect-li {
    display: inline;
}

.sect-li a {
    padding: 12px 0px;
    text-decoration: none;
    color: var(--white, #FFFFFF);
    font-weight: 700;
}

.active {
    border-bottom: var(--white, #FFFFFF) 2px solid;
}

#home-content {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;

    padding: 0 3.47vw;
    flex: 1;
    justify-content: center;
}

#home-content h1 {
    color: #FFF;
    font-size: 115px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

#home-content h1 span {
    color: var(--rich-gold, #DAA520);
}

#home-content button {
    display: flex;
    width: 540px;
    height: 110px;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    
    color: var(--white, #FFFFFF);
    border: none;
    border-radius: 6px;
    background: var(--rich-gold, #DAA520);
    cursor: pointer;

    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.4px;
}

/* Sección de Servicios */
#services {
    background-color: var(--white);

    display: flex;
    padding: 9vh 3.47vw;
    flex-direction: column;
    gap: 30px;
}

#services-content {
    width: 100%;
    height: 620px;
    display: flex;
    gap: 86px;
    justify-content: center;
    align-items: flex-start;
}

#services-content div {
    width: 440px;
    height: 100%;

    border-radius: 50px;
    border: 2px solid var(--slate-gray, #708090);
    background: url(../../resources/img/services/barber.jpg) var(--slate-gray, #708090) 50% / cover no-repeat;
}

#services-content ul {
    width: 850px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#services-content ul li {
    display: flex;
    width: 255px;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    box-sizing: border-box;

    border-radius: 50px;
    border: 2px solid var(--slate-gray, #708090);
}

#services-content ul li p {
    color: var(--slate-gray, #708090);
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding: 0 30px;
}

/* Sección de Precios */
#pricing {
    background-color: var(--white);

    display: flex;
    padding: 9vh 3.47vw;
    flex-direction: column;
    gap: 30px;
}

#pricing-content {
    width: 100%;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#pricing svg *, #pricing li {
    cursor: pointer;
    user-select: none;
}

#service-tags {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 29px;
    width: 100%;
    overflow: hidden;
}

#service-tags ul {
    transition: transform 0.5s ease-in-out;
    display: flex;
    gap: 40px;
}

#service-tags ul li {
    display: flex;
    width: 130px;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;

    border-radius: 10px;
    border: 2px solid var(--slate-gray, #708090);
}

#service-tags ul li img {
    width: 40px;
    height: 40px;
}

#service-tags ul li p {
    color: var(--slate-gray, #708090);
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}


#service-tags .service-tag-active {
    border: 2px solid var(--rich-gold, #DAA520);
    background-color: rgba(218, 165, 32, 0.50);
}

#service-tags .service-tag-active  img {
    filter: brightness(10);
}

#service-tags .service-tag-active p {
    color: var(--white, #FFFFFF);
}

#service-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 29px;;
}

#service-details .service-details-active {
    border: 2px solid var(--rich-gold, #DAA520);
    background-color: rgba(218, 165, 32, 0.50);
}

#service-details ul li img {
    border: 2px solid var(--white, #FFFFFF);
}


#service-details .service-details-active p {
    color: var(--white, #FFFFFF);
}

#service-details ul {
    display: flex;
    justify-content: space-between;
    width: 826px;
    gap: 40px;
}

#service-details ul li {
    border: 2px solid var(--slate-gray, #708090);
    border-radius: 8px;

    width: 100%;
    display: flex;
    padding: 13px 16px;
    align-items: center;
    gap: 20px;
}

#service-details ul li img {
    width: 70px;
    height: 70px;
    object-fit: cover;

    border-radius: 10px;
}

#service-details ul li div {
    display: flex;
    flex: 1;
    width: 250px;
    justify-content: space-between;
}

#service-details ul li div div {
    width: 200px;
    flex-direction: column;
    gap: 10px;
}

#service-details ul li div p {
    color: var(--slate-gray, #708090);
    
    font-weight: 600;
}

.service-details-time {
    font-size: 12px;
}

.service-details-price {
    font-size: 14px;
}

/* Sección de Galería */
#gallery {
    background-color: var(--white, #FFFFFF);

    display: flex;
    padding: 9vh 3.47vw;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#gallery-content {
    display: flex;
    width: 1220px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

#gallery-content img {
    width: 376px;
    height: 401px;
    border-radius: 30px;
    border: 2px solid var(--rich-gold, #DAA520);
}

/* Sección del Divisor entre la Galería y los Barberos */
.gradient-background {
    height: 50px;
    background: linear-gradient(var(--white, #FFFFFF), var(--light-gray, #F5F5F5));
}

/* Sección de Barberos */
#barbers {
    background-color: var(--light-gray, #F5F5F5);

    display: flex;
    padding: 9vh 3.47vw;
    flex-direction: column;
    gap: 30px;

    align-items: center;
}

#barbers-content {
    width: 1190px;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.barber-card {
    display: flex;
    width: 316px;
    height: 550px;
    padding: 30px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    
    border-radius: 30px;
    border: 2px solid var(--slate-gray, #708090);
}

.barber-card-selected, .barber-card-selected .barber-card-details {    
    border: 2px solid var(--rich-gold, #DAA520);
}

.barber-card-selected .barber-card-description {
    display: block;
}

.barber-card-selected .barber-card-social-media {
    display: flex;
}

.barber-card-details {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    user-select: none;

    border-radius: 15px;
    background: rgba(51, 51, 51, 0.80);
    border: 2px solid var(--slate-gray, #708090);
}

.barber-card-details p {
    align-self: stretch;

    color: var(--white, #FFFFFF);
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

.barber-card-details div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.barber-card-details div:first-child p:first-child {
    font-size: 32px;
}

.barber-card-details div:first-child p:nth-child(2) {
    color: var(--rich-gold, #DAA520);
}

.barber-card-description {
    display: none;
}

.barber-card:hover .barber-card-description {
    display: block;
}

.barber-card-social-media {
    display: none;
    align-items: flex-start;
    gap: 15px;
}

.barber-card:hover .barber-card-social-media {
    display: flex;
}

.barber-card-social-media svg, #contact-us-info div svg, #footer-right-side svg {
    width: 30px;
    height: 30px;
    user-select: none;

    color: var(--rich-gold, #DAA520);
}

/* Sección de Reseñas */
#reviews {
    background-color: var(--light-gray, #F5F5F5);

    display: flex;
    padding: 9vh 3.47vw;
    flex-direction: column;
    align-self: stretch;
    gap: 30px;
}

#reviews-content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 70px;
}

.arrows {
    height: 80px;
    width: 80px;

    cursor: pointer;
}

#reviews-cards {
    display: flex;
    align-items: center;
    gap: 50px;
}

.review-card {
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;

    border-radius: 30px;
    border: 2px solid var(--slate-gray, #708090);
    position: relative;
}

.review-card div {
    display: flex;
    align-items: center;
    
    position: relative;
    z-index: 1;
}

.review-card div svg {
    width: 108.779px;
    height: 93.346px;
    cursor: none;
    user-select: none;

    fill: rgba(218, 165, 32, 0.5);

    position: absolute;
    top: 13%;
    z-index: 0;
}

.review-card div div {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    padding-left: 65px;
}

.review-card div div p {
    color: var(--charcoal, #333333);
    font-size: 36px;
    font-weight: 700;
    width: auto;

    padding-right: 0;
}

.review-card div div img {
    width: 140px;
    height: 140px;
    
    border-radius: 160px;
    border: 10px solid var(--rich-gold, #DAA520);
}

.review-card p {
    color: var(--charcoal, #333333);
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    width: 450px;

    padding-right: 10px;
}

/* Sección del Divisor entre la Galería y los Barberos */
.gradient-background:nth-of-type(2) {
    transform: rotate(180deg);
}

/* Sección de Reserva */
#reservation {
    background-color: var(--white, #FFFFFF);
    
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
}

#reservation h2 {
    color: var(--white, #FFFFFF);
}

#reservation-content {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    align-self: stretch;

    background: url(../../resources/img/reservation/background-img.jpg) lightgray 50% / cover no-repeat;
}

#reservation-content form {
    width: calc(323.2px * 2 + 25px);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

    padding: 50px;
}

#reservation-content form input {
    border: 2px solid transparent;
}

#reservation-content form input:invalid:focus {
    border-color: darkred;
}

#reservation-content form input:focus {
    outline: none;
}

#reservation-content form div:first-of-type {
    position: relative;
    display: inline-flex;
    align-items: center;
}

#reservation-content form div:first-of-type svg {
    user-select: none;
    cursor: pointer;
    position: absolute;
    right: 15px;
}

#reservation-content form button:last-child {
    display: flex;
    height: 80px;
    padding: 20px 50px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 8px;
    border: none;
    background-color: rgba(51, 51, 51, 0.90);

    color: var(--white, #FFFFFF);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.32px;
}

#date-container input:focus {
    color: var(--charcoal, #333333);
}

#date-container input::-webkit-calendar-picker-indicator {
    width: 22px;
    height: 22px;
    
    margin-left: 50.5px;
    cursor: pointer;
}

form {
    background-color: var(--white, #FFFFFF);
    border-radius: 10px;
    width: 785px;
}

form input:not([type="checkbox"]) {
    display: flex;
    width: 290px;
    height: 70px;
    padding: 0px 15px;
    align-items: center;
    gap: 10px;

    border-radius: 8px;
    border: 2px solid transparent;
    background-color: rgba(51, 51, 51, 0.15);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    color: var(--charcoal, #333333);
}

form input:not([type="checkbox"])::placeholder, .textarea-div textarea::placeholder {
    color: rgba(51, 51, 51, 0.5);
}

.textarea-div, .textarea-div label, .textarea-div label input {
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.textarea-div label, .textarea-div label input {
    cursor: pointer;
}

.textarea-div textarea {
    box-sizing: border-box;
    width: calc(323.2px * 2 + 25px);
    height: 150px;
    padding: 15px;
    resize: none;
    border: none;

    border-radius: 8px;
    background: rgba(51, 51, 51, 0.15);

    color: var(--charcoal, #333333);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.textarea-div label {
    flex-direction: row;
    align-items: center;
}

.textarea-div label input {
    width: 20px;
    height: 20px;
    margin: 0;
}

.textarea-div label {
    color: var(--charcoal, #333333);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
}

/* Sección de Contáctanos */
#contact-us {
    background-color: var(--white, #FFFFFF);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding: 430px 30px 30px 30px;
    position: relative;
}

#contact-us-div {
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;

    position: absolute;
    top: 0;
}

#contact-us-content-info {
    display: flex;
    width: 600px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    color: var(--charcoal, #333333);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    border-radius: 10px;
    background-color: var(--white, #FFFFFF);
}

#contact-us-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

#contact-us-content h2 {
    color: var(--rich-gold, #DAA520);
    font-size: 40px;
    font-weight: 600;
}

#contact-us-info {
    display: flex;
    width: 385px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

#contact-us-info div {
    display: flex;
    align-items: center;
    gap: 5px;
    align-self: stretch;
}

#contact-us-info div p {
    flex: 1 0 0;
}

#contact-us div form {
    display: flex;
    padding: 40px 35px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    width: 515px;
}

#contact-us-form-content {
    width: 515px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;    
}

#contact-us form input:not([type="checkbox"]) {
    width: calc(100% / 2 - 41px);
}

#contact-us-form-content .textarea-div {
    display: flex;
    width: 515px;
    flex-shrink: 0;
}

#contact-us .textarea-div textarea {
    width: 100%;
}

#contact-us .textarea-div label {
    align-items: center;
    flex-direction: row;
}

#contact-us form button:last-child {
    padding: 10px 25px;
    background: var(--rich-gold, #DAA520);
    color: var(--white, #FFFFFF);
    font-size: 20px;
    letter-spacing: 0.2px;
    border: none;
    border-radius: 8px;
}

#iframe-map {
    width: 100%;
    height: 420px;
}

#map {
    display: none;
    background: url(../../resources/img/contact-us/map.png) var(--white, #FFFFFF) 50% / cover no-repeat;
    width: 100%;
    height: 450px;
}

/* Sección del Divisor entre Contáctanos y el Footer */
.gradient-background:nth-of-type(3) {
    background: linear-gradient(var(--white, #FFFFFF), var(--charcoal));
}

/* Sección del Footer */
footer {
    display: flex;
    padding: 50px;
    justify-content: space-between;
    align-items: center;

    background-color: var(--charcoal, #333333);
}

footer h3 {
    color: var(--white, #FFFFFF);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

footer p {
    color: var(--white, #FFFFFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#footer-left-side, #footer-center-side, #footer-right-side {
    display: flex;
    flex-direction: column;
}

#footer-left-side, #footer-center-side {
    align-items: flex-start;
}

#footer-center-side, #footer-right-side {
    gap: 20px;
}

#footer-left-side {
    width: 600px;
    gap: 30px;
}

#footer-left-side div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
}

#footer-left-side div .logo-barberia {
    width: 237px;
    height: 107px;
}

#footer-left-side div p {
    width: 600px;
}

#footer-left-side form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;

    background-color: transparent;
    border-radius: 0;
    width: auto;
    padding: 0;
}

#footer-left-side form input {
    color: var(--white, #FFFFFF);
    
    width: 80%;
    
    border-radius: 8px;
    border: 2px solid var(--slate-gray, #708090);
    background: rgba(255, 255, 255, 0.50);
}

#footer-left-side form input::placeholder {
    color: var(--white, #FFFFFF);
}

#footer-left-side form button {
    display: flex;
    width: 180px;
    height: 60px;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 10px;
    border: 2px solid var(--white, #FFFFFF);
    background: rgba(112, 128, 144, 0.60);

    color: var(--white, #FFFFFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.2px;
}

#footer-center-side {
    width: 277px;
}

#footer-center-side ul {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

#footer-center-side ul li svg {
    fill: var(--rich-gold, #DAA520);
    user-select: none;

    width: 14px;
    height: 14px;
}

#footer-center-side ul li a {
    color: var(--white, #FFFFFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
    flex: 1 0 0;

    text-decoration: none;
}

#footer-right-side {
    width: 380px;
    align-items: center;
}

#footer-work-hours {
    display: flex;
    padding: 0px 35px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
}

#footer-work-hours div {
    display: flex;
    width: 345px;
    justify-content: space-between;
    align-items: center;
}

#footer-work-hours div p {
    font-size: 16px;
    font-weight: 600;
}

#footer-work-hours div p:first-child {
    font-size: 20px;
}

#footer-business-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

#footer-business-contact div {
    display: flex;
    align-items: center;
    gap: 5px;
    align-self: stretch;
}

#footer-business-contact div p {
    flex: 1 0 0;
}

#footer-social-media {
    display: flex;
    align-items: flex-start;
    gap: 25px;
}
